
  <p><%= flash[:error] ? flash[:error] : flash[:success] ? flash[:success] : '' %></p>
  <p><%= flash.inspect %> </p>
  <p><%= @params.inspect %> </p>
  <p><%= @stage.inspect %> </p>
  <p><%= @destination.inspect %> </p>
  <p><%= @tasks.inspect %> </p>
  <p><%= @tasks.inspect %> </p>
  <p><%= @task.inspect %> </p>
  <p><%= @dest_id.inspect %> </p>
