<h1> Hunts </h1>
<% @hunts.each do |hunt| %>|
  <% #cache ['entry', hunt] %>
  <a href='hunt.url'> <h3><%= hunt.title %> </h3> </a>
  <%= button_to "Start Hunt", {action: "load_hunt", id: hunt.id}, method: :get, data: { confirm: "you sure?"} %>
  <p>/<%= hunt.url%> </p>
<% end %>
