<div class="page-header">
  <h1> <%= @hunt.title %> </h1>
  <h2> <%= @stage.description %> </h2>
</div>
<div id="destination" class="">
  <% if true == false %>
  <p><%= flash[:error] ? flash[:error] : flash[:success] ? flash[:success] : '' %></p>
  <p><%= flash.inspect %> </p>
  <p> PARAMS</p>
  <p><%= @params.inspect %> </p>
  <p><%= @stage.inspect %> </p>
  <p><%= @destination.inspect %> </p>
  <p>TASKS</p>
  <p><%= @tasks.inspect %> </p>
  <p> CUR POINTS </p>
  <p><%= @current_points.inspect %> </p>
  <% end %>


  <div id="stage_form" class="">
        <h3> Find your next destination. </h3>
        <% if !@destination.status %>
          <div id="clue">
              <p> Use the clue below to fill in the blanks below to find out your next destination. Each blank represents a letter, like hangman." </p>
              <p> When you think you have it, and you've completed enough tasks to meet the points needed, hit the 'Done!' button. </p>
              <p> You're clue for this stage is: </p>
              <p><strong><%= @destination.clue %></strong></p>
          </div>
        <% else %>
          <div id="dest_solved">
            <p> You now know where to head next. But you still have tasks to complete..." </p>
            <p> Next you're off to: </p>
          </div>
        <% end %>
        <%=form_for @stage, :url => {:controller => :hunter, :action =>"submit_stage", role: "form"}, :method => :get do |f| %>
        <div class="dest_form">
        <div id="dest_hangman" class="form-inline">
          <% if !@destination.status %>
            <%= f.fields_for :destination do |ff| %>
              <%ff.object.value.each_char do |c| %>
                <%= text_field_tag "values["+c+"]", nil, {class: "hangman dest_char form-control", style: "width: 40px", value: ""} %>
              <% end %>
            <% end %>
          <% else %>
            <p><%= @destination.value %>
          <% end %>
        </div>
      </div><!-- end dest form -->
        <h3> Tasks </h3>
        <p> To move onto the next stage, you not only have to get the destination clue correct (above), you have to rack up enough points by checking off tasks as you complete them </p>
        <p> You currently have: <%= @current_points %> points </p>
        <p> You currently need: <%= @points_needed %> points </p>
        <div id="task_form">
          <% @tasks.each do |task| %>
            <div class="form-group" style="display: block">
              <%= check_box_tag "tasks["+task.id.to_s+"]", true, checked = task.status, {class: "task_check", id: task.id, text: task.text+" [points: "+task.points.to_s+"]"} %> 
              <%= task.text+" [points: "+task.points.to_s+"]" %>
            </div>
          <% end %>
      </div>
      <div class="actions">
        <%= f.submit "Done!" %>
      </div>
    <% end %>
        
  </div>
  <br/>
  <br/>
  <!-- <div>
    <%= form_tag :action => "check_dest_solve/"+@destination.id.to_s, method: :get, remote: true %>
    <% @destination.value.each_char do |v| %>
        <%= text_field_tag(v) %>
        <%= hidden_field_tag(@destination.id) %>
      <% end %>
      <%= submit_tag('I got it!') %>
  </div>
</div>
<div id="task">
  <% @tasks.each do |task| %>
    <%= form_for(task) do |f| %>
      <%= f.check_box :status, { class: "task", id: task.id }, 0, false  %> <%= task.text %>
    <% end %>
  <% end %>
</div> 
-->


<% if true == false %>
  <br><br><br>
  <p><%=  @hunt.inspect %></p>
  <p><%= @stage.inspect %></p>
  <p><%= @destination.inspect %></p>
  <p><%= @tasks.inspect %></p>
<% end %>


<p>Stage complete: <%= @result %></p>
<p>current points: <%= @current_points %></p>
<p>needed points: <%= @points_needed %></p>
