<div class="content_head">
  <h1> Congratulations! You finished the <%= @stage.description %></h2>
  <p> You got that the answer was <%= @destination.value %>. So that's where you're heading.<p>
  <p> NOTE: SHOULD WE INCLUDE ADDRESS HERE?</p>
  <div class="content_body">
    <p> Once you get to <% @destination.value %> You'll need to figure out your next Destination.</p>
    <p> Click the button below to get started on the next Destination clue, and set of tasks </p>
    <%= button_to "On to the next one!", {action: "load_hunt", id:@hunt}, form_class: "primary-action" %>
</div>

<div>
  <h2> TEST INFO </h2>
  <p><%= flash[:error] ? flash[:error] : flash[:success] ? flash[:success] : '' %></p>
  <p><%= flash.inspect %> </p>
  <p>PARAMS</p>
  <p><%= @params.inspect %> </p>
  <p>STAGE</p>
  <p><%= @stage.inspect %> </p>
  <p>DEST</p>
  <p><%= @destination.inspect %> </p>
  <p><%= @tasks.inspect %> </p>
  <p>TASK</p>
</div>
