<h1>Listing hunts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Img url</th>
      <th>Url</th>
      <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hunts.each do |hunt| %>
      <tr>
        <td><%= hunt.title %></td>
        <td><%= hunt.img_url %></td>
        <td><%= hunt.url %></td>
        <td><%= hunt.password %></td>
        <td><%= link_to 'Show', hunt %></td>
        <td><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
        <td><%= link_to 'Destroy', hunt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hunt', new_hunt_path %>
