<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hunt.title %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @hunt.img_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @hunt.url %>
</p>

<p>
  <strong>Password:</strong>
  <%= @hunt.password %>
</p>

<%= link_to 'Edit', edit_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
