<h1>Listing stages</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Text</th>
      <th>Img url</th>
      <th>Status</th>
      <th>Min points</th>
      <th>Hunt</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= stage.description %></td>
        <td><%= stage.text %></td>
        <td><%= stage.img_url %></td>
        <td><%= stage.status %></td>
        <td><%= stage.min_points %></td>
        <td><%= stage.hunt %></td>
        <td><%= link_to 'Show', stage %></td>
        <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
        <td><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %>
