<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @stage.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @stage.text %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @stage.img_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @stage.status %>
</p>

<p>
  <strong>Min points:</strong>
  <%= @stage.min_points %>
</p>

<p>
  <strong>Hunt:</strong>
  <%= @stage.hunt %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
