<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Personal Scavenger Hunts</h1>
  <h3>Turn your life into a game</h1>
  <div class="form-group">
    <form role="form" action="" method="post" >
      <label for="InputEmail">Your Email</label>
      <div class="input-group">
        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
    </form>

  </p>
  <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
</div>

