<h1>Listing destinations</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Clue</th>
      <th>Value</th>
      <th>Status</th>
      <th>Img url</th>
      <th>Stage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= destination.order %></td>
        <td><%= destination.clue %></td>
        <td><%= destination.value %></td>
        <td><%= destination.status %></td>
        <td><%= destination.img_url %></td>
        <td><%= destination.stage %></td>
        <td><%= link_to 'Show', destination %></td>
        <td><%= link_to 'Edit', edit_destination_path(destination) %></td>
        <td><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destination', new_destination_path %>
