<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @destination.order %>
</p>

<p>
  <strong>Clue:</strong>
  <%= @destination.clue %>
</p>

<p>
  <strong>Value:</strong>
  <%= @destination.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @destination.status %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @destination.img_url %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @destination.stage %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
